@tailwind base;
@tailwind components;
@tailwind utilities;

.w-1100 {
    width: 1100px;
  }

.fs22{
    font-size: 22px;
}

.fs14{
    font-size: 14px;
}

.roboto{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-blue{
    background-color: rgb(89,115,177);
}

.blue{
    color: rgb(89,115,177);
}